@use '../../scss' as *;

.content1 {
  box-sizing: border-box;
  padding: .5rem 0rem;
  background-color: transparent;
}

.form1 {
  padding: 1rem 0;
  min-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control1 {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &__link {
    @include flex(unset, unset);
  }

  &__label {
    color: #fff;
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 2rem;
    vertical-align: middle;
  }

  &__span {
    overflow: hidden;
    @include flex(unset, unset);
    flex-direction: column;

    & p {
      color: $main-color;
      font-size: .8rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    display: block;
    padding: .5rem .5rem;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  &__btn {
    margin-top: 1rem;
    min-width: 300px;
    text-align: center;
  }
}


.btn {
  border: 4px solid transparent;
  color: $white;
  padding: .5rem 1.8rem;
  border-radius: $border-radius;
  background-color: $main-color;
  font-size: 1.5rem;
  font-weight: 600;
  transition: box-shadow .3s ease;
  box-shadow: 0px 0px 7px 8px #ff00004d;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;
  }
}

.liked-list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: $body-bg;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  overflow: hidden;

  &::before {
    content: '';
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $main-color;
    transition: all .3s ease;
  }


  & h3 {
    margin-bottom: 0;
    color: #fff;
  }

  &:hover h3 {
    color: $main-color;
  }

  &:hover::before {
    width: 2%;
  }
}