@use '../../scss' as *;

.logo {
  font-size: 2.5rem;
  font-weight: 600;

  @include flex(center, unset);

  img {
    width: 100px;
    margin-top: -1rem;
    margin-right: -10px;

    @include mobile {
      width: 30px;
      margin-right: 0;
    }
  }
}

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  transition: all .3s ease, backgroud-color .3s ease;

  &.shrink {
    height: $header-shrink-height;
    background-color: $body-bg;
  }

  &__wrap {
    @include flex(center, space-between);
    height: 100%;
    padding: 0 2rem;
    @include mobile {
      justify-content: center;
    }
  }

  &__nav {
    @include flex(center, unset);

    & > * ~ * {
      margin-left: 2rem;
    }

    li {
      font-size: 1.5rem;
      font-weight: 700;
      position: relative;
      padding: 5px 0;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: $main-color;
        transition: width .5s ease;
      }

      &.active::after,
      &:hover::after {
        width: 100%;
      }
    }

    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background-color: $body-bg;
      padding: 0 2rem;
      box-shadow: $box-shadow;

      @include flex(center, space-between);

      & > * ~ * {
        margin-left: 0rem;
      }

    }
  }
}

.user {
  position: relative;

  &__dropdown {
    opacity: 0;
    display: none;
    position: absolute;

  }

  &:hover + &__dropdown {
    opacity: 1;
    visibility: visible;
  }
}

